.Rproj.user
.Rhistory
.RData
.Ruserdata
outputs
results
.DS_Store
.rmd_snakemake
.snakemake
logs
geo-spatial
/map-of-samples.html
/002-GSI_and_Fst.html
/002-GSI_and_Fst_cache
/002-GSI_and_Fst_files
/001-map-of-samples.html
/ckmr-sim-evaluation.html
tmp.pdf
/lfar-allele-freqs.html
/plotting-genome-locations-of-markers.html
003-ckmr-sim-evaluation.html
004-lfar-allele-freqs.html
005-plotting-genome-locations-of-markers.html
006-winter-run-vs-all-cv-alle-freqs.html
main-one-col.log
007-whoa-on-chinook.html
